<div class="tooltip {{placement}}" ng-class="{ in: isOpen, fade: animation() }" >
	<div class="tooltip-arrow"></div>
	<div class="tooltip-inner">
		<div ng-bind="tooltipTitle"><strong>Hello</strong></div>
		<div><strong>Hello</strong></div>
		<div>
			<table>
				<tr>
					<td>{{message}}</td>
					<td>123</td>
				</tr>
				<tr>
					<td>123</td>
					<td>123</td>
				</tr>
				<tr>
					<td>123</td>
					<td>123</td>
				</tr>
			</table>
		</div>

		<div><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>

	</div>
</div>